.songInfo {
  display: flex;
  flex-flow: column;
  padding: 1px;
  text-align: left;
  width: 100%;
}

.songInfo h3 {
  margin: 0;
}

.songInfo form {
  margin-bottom: 15px;
}

.songAudio {
  align-items: center;
  border-style: none;
  display: flex;
}

.songs {
  align-items: center;
  background-color: rgba(255, 254, 250, 0.4);
  border-bottom: black 1px solid;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 0 20px;
}

.songs form {
  font-size: x-small;
  max-width: 50px;
  padding-right: 20px;
}

.fav {
  width: 10%;
}
