.profilepage {
  text-align: center;
}

.profilecards {
  display: flex;
}

ul, li {
  list-style-type: none;
}

.labels {
  text-align: left;
}

.profileedit {
  width: 100%;
}

.profileedit label {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.profileedit input {
  min-width: 60%;
}
