@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

body {
  margin: 0;
  font-family: 'Sniglet', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, 'Courier New',
    monospace;
}

form {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.searchField {
  height: 30px;
  width: 350px;
}

button {
  width: 180px;
  height: 60px;
  margin: 20px;
  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: black;
  transition: 0.1s;
  border: 1px solid black;
}
button:hover {
    border: 1px solid gray;
    background: yellow;
}

.loading {
  font-size: larger;
  height: 100%;
  display: flex;
  justify-content: center;
}

.trybetunes {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color:darkslategray;
  color: white;
}

.trybetunes ul {
  display: flex;
  list-style-type: none;
}

.trybetunes li a {
  text-decoration: none;
  color: white;
  display: inline;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.container h1 {
  text-align: center;
}

.container img {
  max-width: 100px;
}

.albuminfo {
  display: flex;
  text-align: center;
  width: 23%;
  flex-direction: column;
  padding: 10px;
  margin-right: 20px;
  align-items: center;
}

.container2 {
  display: flex;
  flex-wrap: row nowrap;
  width: 89%;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
}

.container2 img {
  max-width: 100px;
}

.albuns {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  margin-top: 40px;
}

.eachalbum {
  background-color: rgba(230, 230, 230, 0.9);
  box-shadow: 1px 1px 1px black;
  min-width: 400px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
}

.eachalbum img {
  margin-right: 20px;
  padding: 10px;
}

.left {
  text-align: left;
}

.songs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px grey solid;
  padding: 10px;
}

.songs form {
  max-width: 50px;
  font-size: x-small;
}

.songInfo {
  width: 100%;
  text-align: left;
  display: flex;
  flex-flow: column;
  padding: 1px;
}

.songInfo h3 {
  margin: 0;
}

.songInfo form {
  margin-bottom: 15px;
}

.songAudio {
  display: flex;
}

.fav {
  width: 10%;
}
